<table>
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Name</th>
        <th>Order List</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of productOrders | paginate: { itemsPerPage:7, currentPage: p }">
        <td>
          {{ order.payload.doc.data().orderNumber }}
        </td>
        <td>
          {{ order.payload.doc.data().customerName }}
        </td>
        <!-- <td>{{ order.payload.doc.data().productOrders }}</td> -->
        <td>
          <span *ngFor="let product of order.payload.doc.data().productOrders" style="display:list-item">
            <!-- <td>{{ product.productNumber }}</td> -->
            {{ product.productName }}
            <!-- {{ product.id }} -->
          </span>
          
        <!-- <td>
          <span *ngFor="let product of order.payload.doc.data()">
            {{ product }}
          </span>
        </td> -->

        <td
          [hidden]="order.payload.doc.data().completed"
          (click)="markCompleted(order)"
        >
          <i class="material-icons waves-effect">check</i>
        </td>
        <td
          [hidden]="order.payload.doc.data().completed"
          (click)="deleteOrder(order)"
        >
          <a><i class="material-icons waves-effect">delete_forever</i></a>
        </td>
      </tr>
      
    </tbody>
    
  </table>
  <ul>
    <li></li>
  </ul>
  <div class="footer">
      <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
