<h5>Product Order:</h5>
<form [formGroup]="formOrder" >
  
  <input
    placeholder="Customer Name"
    formControlName="customerName"
    type="text"
    class="input-field col s12"
    maxlength="30"
  />
 
  <input
    class="input-field col s12"
    placeholder="Order Number"
    formControlName="orderNumber"
    type="number"
    required
  />
  
  <button
    class="waves-effect waves-light grey darken-1 btn col s3"
    *ngFor="let product of list" 
    (click)="addProduct(product)"
  >
    {{ product.productName }}
  </button>
  
  <ul class="collection"  style="width: 100%">
    <li *ngFor="let product of productOrders">
      <span class="col s11"> {{ product.productName }} </span>
      <a class="col s1 waves-effect" (click)="removeProduct(product)">x</a>
    </li>
  </ul>

  <button [disabled]='!formOrder.valid' class="waves-effect waves-light grey darken-1 btn col s12" (click)="onSubmit()">
    Submit
  </button>
</form>
