<nav>
  <div class="container">
    <div class="row">
      <ul>
          <li routerLinkActive="active">
              <a routerLink="home">Home</a>
            </li>
        <li routerLinkActive="active">
          <a routerLink="order">Orders</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="order-list">Order List</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 40px;">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
        <app-orders class="col s6"></app-orders>
        <app-order-list class="col s6"></app-order-list>
    </div>
  </div> -->