<!-- <div class=""> -->
  <div class="col s5" style="margin-right: 20px;">
    <h5>Add Product:</h5>
    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
      <input type="hidden" name="id" #id="ngModel" [(ngModel)]="orderService.formData.id" />
      <div class="form-group">
        <input placeholder="Product Name" name="productName" #productName="ngModel" [(ngModel)]="orderService.formData.productName" required type="text"/>
        <div *ngIf="productName.invalid && productName.touched" class="validation-error input-field col s12">Product Name is required</div>
      </div>
      <div class="form-group">
        <input name="productNumber" #productNumber="ngModel" [(ngModel)]="orderService.formData.productNumber"
          class="input-field col s12" placeholder="Product Number" required type="number"/>
      </div>
      <div class="form-group">
        <button [disabled]="form.invalid" type="submit" class="waves-effect waves-light grey darken-1 btn col s12">
          Submit
        </button>
      </div>
    </form>
  </div>
  <!-- <div class="col s6">
    <app-product-list></app-product-list>
  </div>
</div> -->