<h5>Product List:</h5>
<table class="highlight">
    <thead>
        <tr>
            <th>Product Number</th>
            <th>Product Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | paginate: { itemsPerPage:8, currentPage: p } ">
            <td >{{ product.productNumber }}</td>
            <td >{{ product.productName }}</td>
            <td (click)="onEdit(product)">
                    <i class="material-icons waves-effect">edit</i>
                </td>
            <td><a (click)="onDelete(product.id)"><i class="material-icons waves-effect">delete_forever</i></a></td>
        </tr>
    </tbody>
</table>
<div class="footer">
        <pagination-controls (pageChange)="p =$event"></pagination-controls>
</div> 
        